In [1]:
# load dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect,join
import numpy as np
import pandas as pd
from flask import (Flask, render_template, jsonify, request, redirect)
from flask_sqlalchemy import SQLAlchemy
import psycopg2

In [2]:
engine= create_engine("postgres://wtzcxlhtevtgnn:a611ddfea80402e93d32df58dad93c3dfe320544d635b77e14e9bb8936eeca9e@ec2-52-86-116-94.compute-1.amazonaws.com:5432/d5hl5ab4698nnc")
conn = engine.connect()

In [3]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
session=Session(engine)

In [19]:
def SQL_Pull(budget):
    #Using Pandas for Data Analysis
    #  Read the appraisal Table
    appraisal=pd.read_sql_table('appraisal',engine)

     # Calculate % of change of value between 2018 and 2019
    appraisal_2018=appraisal.loc[appraisal.tax_year==2018,:]
    appraisal_2019=appraisal.loc[appraisal.tax_year==2019,:]
    appraisal_df=pd.merge(appraisal_2019,appraisal_2018,on='account', suffixes=('_2019','_2018'))
    appraisal_df['pct_value_change']=(appraisal_df['total_appraised_value_2019']-appraisal_df['total_appraised_value_2018'])\
                                  /appraisal_df['total_appraised_value_2018']*100
    results_df=appraisal_df[['id_2019','account','total_appraised_value_2019', 'pct_value_change']]
    
    #Read properties table
    properties_df=pd.read_sql_table('properties',engine)
    results_df=pd.merge(results_df,properties_df,on="account")
    del results_df['address']

    #Read crime table and merge to results
    crime_df=pd.read_sql_table('crime',engine)
    crime_df=crime_df.rename(columns={'Zip_Code':'Zip_code'})
    crime_aggr=crime_df.groupby(['Zip_code']).count()['Offense_Count']
    crime_aggr_df=pd.DataFrame(crime_aggr)
    results_df=pd.merge(results_df,crime_aggr_df,on="Zip_code")
    
    #Read property_school table and merge to results
    property_school_df=pd.read_sql_table('property_school',engine)
    results_df=pd.merge(results_df,property_school_df,on="account")
    
    #Read school table and merge to results
    school_df=pd.read_sql_table('school',engine)
    results_df=pd.merge(results_df,school_df,on=['school_id','school_type'])

    #Add flood ranking
    #3- High Risk
    #2 - Medium Risk
    #1- Low Risk
    results_df.loc[(results_df['flood_description']=='AREA OF MINIMAL FLOOD HAZARD'),'flood_risk']=1
    results_df.loc[(results_df['flood_description']=='0.2 PCT ANNUAL CHANCE FLOOD HAZARD'),'flood_risk']=2
    results_df.loc[(results_df['flood_description']=='FLOODWAY'),'flood_risk']=3
    results_df.loc[(results_df['flood_description']=='High-Risk Flood Zone'),'flood_risk']=3
    del results_df['flood_description']
    del results_df['name']
    del results_df['address']
    del results_df['city']
    del results_df['zip_code']
    del results_df['district_id']
    del results_df['latitude_y']
    del results_df['longitude_y']
    results_df=results_df.rename(columns={'latitude_x':'latitude', 'longitude_x':'longitude'})

    #Count the house sale per neighborhood in 2019 and merge results
    results_df['sales2019']=np.where(results_df['new_owner_date']>'2018-12-31',1,0)
    sales=results_df.groupby('neighborhood_code')['sales2019'].sum()
    sales=pd.DataFrame(sales)
    sales=sales.rename(columns={'sales2019':'sales_neighborhood_2019'})
    results_df=pd.merge(results_df,sales, on="neighborhood_code")
    del results_df['sales2019']
    
    #  Read the neighborhoods Table
    neighborhoods_df=pd.read_sql_table('neighborhoods',engine)
    results_df=pd.merge(results_df,neighborhoods_df,on='neighborhood_code')
    
    # Filter by budget on year 2019
    results_df=results_df.loc[results_df.total_appraised_value_2019<=budget,:]
    
    print('data pull complete')
    return (results_df)

In [32]:
def scores (dictionaryOfUserInput):
    w_budget = dictionaryOfUserInput["budget"]
    w_sales = dictionaryOfUserInput["sales"]
    w_crime = dictionaryOfUserInput["crime"]
    w_schools = dictionaryOfUserInput["schools"]
    w_acreage = dictionaryOfUserInput["acreage"]
    w_SQ_FT = dictionaryOfUserInput["sqft"]
    w_flood = dictionaryOfUserInput["flood"]
    w_change = dictionaryOfUserInput["change"]

    # call SQL_Pull function to query the database and create a dataframe
    df = SQL_Pull(w_budget)
 
    # Normalize data for each parameter
    max=df['sales_neighborhood_2019'].max()
    min=df['sales_neighborhood_2019'].min()
    df["Sales Index"]=(df['sales_neighborhood_2019']-min)/(max-min)*100
    
  
    max=df['Offense_Count'].max()
    min=df['Offense_Count'].min()
    df["Crime Index"]=(df['Offense_Count']-min)/(max-min)*100

    max=df['school_rating'].max()
    min=df['school_rating'].min()
    df["School Rating Index"]=(df['school_rating']-min)/(max-min)*100

    max=df['acreage'].max()
    min=df['acreage'].min()
    df["Acreage Index"]=(df['acreage']-min)/(max-min)*100

    max=df['sq_ft'].max()
    min=df['sq_ft'].min()
    df["SQ_FT Index"]=(df['sq_ft']-min)/(max-min)*100

    max=df['flood_risk'].max()
    min=df['flood_risk'].min()
    df["Flood Risk Index"]=(df['flood_risk']-min)/(max-min)*100

    max=df['pct_value_change'].max()
    df['Valuation Index']=df['pct_value_change']/max*100

    # Calculate scores for each address.
    total_weights=w_sales+w_crime+w_schools+w_acreage+w_SQ_FT+w_flood+w_change

    # Add calculated scores to the dataframe
    df["Sales Index_W"]=w_sales*df['Sales Index']
    df['Crime Index_W']= w_crime*df['Crime Index']
    df["School Rating Index_W"]=w_schools*df['School Rating Index']
    df["Acreage Index_W"]= w_acreage*df['Acreage Index']
    df["SQ_FT_Index_W"]= w_SQ_FT*df['SQ_FT Index']
    df["Flood Risk Index_W"]=w_flood*df['Flood Risk Index']
    df['Valuation Index_W']= w_change*df['Valuation Index']

    # Calculate total score per row
    df["Score"]=round((w_sales*df['Sales Index']-
                                    w_crime*df['Crime Index']+
                                    w_schools*df['School Rating Index']+
                                    w_acreage*df['Acreage Index']+
                                    w_SQ_FT*df['SQ_FT Index']-
                                    w_flood*df['Flood Risk Index']+
                                    w_change*df['Valuation Index'])/total_weights,2)

    # convert the score to percentage and scale them
    max=df["Score"].max()
    min=df["Score"].min()
    max=df["Score"]=(df["Score"]-min)/(max-min)*100

    # look at only the parameters of interest
    parameter_and_score = df[["Sales Index",'Crime Index', 'School Rating Index',
            'Acreage Index','SQ_FT Index', 'Flood Risk Index', 'Valuation Index','Score',
            'total_appraised_value_2019','neighborhood']]

    # group parameters by neighborhood name
    neighborhood_group = parameter_and_score.groupby(['neighborhood']).mean()

    # To get to the top list, neighnorhoods need positive valuation index and non-zero sales index
    neighborhood_group=neighborhood_group.loc[(neighborhood_group['Valuation Index']>0)&(neighborhood_group['Sales Index']>0),:]

    min=neighborhood_group['Valuation Index'].min()
    max=neighborhood_group['Valuation Index'].max()
    min=neighborhood_group['Valuation Index']=(neighborhood_group['Valuation Index']-min)/(max-min)*100

    # sort scores
    ranked_neighborhoods = neighborhood_group.sort_values('Score',ascending=False)

    top5neighborhoods= ranked_neighborhoods.head()
    
    return top5neighborhoods.to_json('top5hoods.json')

In [16]:
default_inputs={"budget":1000000, "sales":10, "crime":10, "schools":10, "acreage":10, "sqft":10,"flood":10, "change":10}

In [21]:
df=SQL_Pull(250000)
df.head()

computation completed

,id_2019,account,total_appraised_value_2019,pct_value_change,latitude,longitude,Zip_code,neighborhood_code,acreage,new_owner_date,sq_ft,Offense_Count,school_id,school_type,school_rating,flood_risk,sales_neighborhood_2019,neighborhood
108,488,270520000008,152100.0,0.000000,29.76922,-95.35257,77002,7116.0,0.1286,1998-08-26,1598.0,4743,101912025,High,95,1.0,0,HAILE/SWINEY
109,489,270520000015,159132.0,5.919235,29.76902,-95.35256,77002,7116.0,0.0809,2015-01-08,1308.0,4743,101912025,High,95,1.0,0,HAILE/SWINEY
110,490,270520000016,125150.0,0.000000,29.76926,-95.35242,77002,7116.0,0.1149,1988-01-02,1836.0,4743,101912025,High,95,1.0,0,HAILE/SWINEY
111,488,270520000008,152100.0,0.000000,29.76922,-95.35257,77002,7116.0,0.1286,1998-08-26,1598.0,4743,101912240,Elementary,75,1.0,0,HAILE/SWINEY
112,489,270520000015,159132.0,5.919235,29.76902,-95.35256,77002,7116.0,0.0809,2015-01-08,1308.0,4743,101912240,Elementary,75,1.0,0,HAILE/SWINEY

In [33]:
scores(default_inputs)

computation completed